.progress-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 1 auto;
    background: rgb(255, 255, 255);
    padding: 1em;
    text-align: right;
}

.week-container {
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}